# ================================
# Node.js / App
# ================================
PORT=8080                     # Порт, на котором будет работать Express сервер
CRON_SCHEDULE=0 * * * *       # Расписание cron-задачи (ежечасно)

# Wildberries API
WB_API_URL=https://common-api.wildberries.ru/api/v1/tariffs/box
WB_TOKEN=eyJhbGciOiJFUzI1NiIsImtpZCI6IjIwMjUwNTIwdjEiLCJ0eXAiOiJKV1QifQ.eyJlbnQiOjEsImV4cCI6MTc2NTY3MDIyOSwiaWQiOiIwMTk3NmU0Yy1mZTgwLTc1NDAtODkyMi02NGE5ZWUzYTU4MzYiLCJpaWQiOjQ1OTExNjA5LCJvaWQiOjExMzA0NiwicyI6MTA3Mzc0MTgzMiwic2lkIjoiOTMyYzE3NmEtNTA4NS01YzZmLWJjMzMtNGU4NGNkZjU4ZDdlIiwidCI6ZmFsc2UsInVpZCI6NDU5MTE2MDl9.wDoH8FLdZu1049uPCmhx3UHaw28YJB-CylWeD2LgkpRZFIMlOsUlnlVmfmYKy__JWNjfbDkOtdJ69QpSD5EKag 

# PostgreSQL
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Google Sheets
GOOGLE_SERVICE_ACCOUNT_JSON=/app/config/credentials.json  
SHEETS_IDS=sheet_id_1,sheet_id_2                          
SHEETS_SHEET_NAME=stocks_coefs                            
